<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mateskool | Segundo Básico</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/flexboxgrid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="static/JS/jquery-3.4.1.min.js"></script>
</head>
<body>
    <!-- Titulo/Logo -->
    <div class="fondo">
        <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-xs-12 col-lg-4" id="titulopag">
            <img src="static/img/0inicio/planeta.png" alt="" id="planeta"> 
            Mateskool
        </div>
        <div class="col-lg-4"></div>
        </div>
    </div>
    <!-- Titulo/Logo -->
    <!-- Inicio -->
    <div class="row" id="inicio">
        <!-- Menu -->
        <div class="col-xs-12 col-lg-12">
            <aside id="aside"> 
                <div class="row">
                        <div class="col-xs-12 col-lg-2"><a href="{% url 'inicio' %}"><img  src="static/img/0inicio/inicio.png" alt="" class="fotosex width25"></a></div>
                </div>
            </aside>    
        </div>
        <!-- Menu -->
        <!-- Contenido -->
        <div class="col-xs-12 col-lg-12 ">
            <h1 class="tituloin">
                ¡Figuras geometricas!
            </h1>
            <p class="textonorm">
                ¿Cuáles son las figuras geométricas planas? ¿Qué características tienen? Estas son las preguntas que contestaremos en este post.
                Las principales figuras geométricas planas son:
            </p>
            
            <div class="row"> 

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h2 class="tituloin"> 
                        Circulo
                    </h2>

                    <img src="static/img/7Figuras/circulo.png" alt="" class="fotocen width40">

                    <p class="textonorm"> 
                        El círculo es una figura que se realiza trazando una curva que está siempre a la misma distancia de un punto que llamamos centro. La línea que bordea al círculo se llama circunferencia.
                    </p>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h2 class="tituloin"> 
                        Triangulo
                    </h2>
                    <img src="static/img/7Figuras/triangulo.png" alt="" class="fotocen width40">

                    <p class="textonorm">
                        El triángulo es una figura que está formada por 3 rectas que se llaman lados. Hay diferentes maneras de clasificar a los triángulos, según sus lados o sus ángulos.
                    </p>
                </div>  
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h2 class="tituloin"> 
                        Cuadrado
                    </h2>
                    <img src="static/img/7Figuras/cuadrado.gif" alt="" class="fotocen width40">

                    <p class="textonorm"> 
                        Un cuadrado en geometría es un cuadrilátero regular, es decir, una figura plana de cuatro lados iguales y cuatro ángulos interiores rectos
                    </p>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h2 class="tituloin"> 
                        Rectangulo
                    </h2>
                    <img src="static/img/7Figuras/rectangulo.png" alt=""  class="fotocen width60">

                    <p class="textonorm"> 
                            El rectángulo es una figura formada por 4 rectas llamadas lados. Las características de los rectángulos son que sus lados opuestos son paralelos y sus 4 ángulos miden 90º.
                    </p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h2 class="tituloin"> 
                        Trapecio
                    </h2>
                    <img src="static/img/7Figuras/trapecio.jpg" alt="" class="fotocen width60">

                    <p class="textonorm"> 
                            Figura geométrica de cuatro lados, de los cuales solo dos son paralelos.
                    </p>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h2 class="tituloin"> 
                        Rombo
                    </h2>
                    <img src="static/img/7Figuras/rombo.jpg" alt=""  class="fotocen width45">

                    <p class="textonorm"> 
                            El rombo es una figura formada por 4 rectas. Sus lados opuestos son paralelos y los 4 miden igual pero a diferencia del cuadrado, no tiene ningún ángulo recto.
                    </p>
                </div>

            </div>  
            
        </div>
        <!-- Contenido -->
    </div>
    <!-- Inicio -->
    <!-- Informacion Extra -->
        <div class="fondo">
            <div class="row">
                <div class="col-xs-12 col-lg-3">
                    <img src="static/img/cerebro.png" alt=""  class="fotosex width50">
                    <h1 class="titulosex">Logica y Razonamiento</h1>
                    <p class="textoex">
                    Es Mucho más que calculo mental. El alumno desarrolla habilidades para resolver problemas y pensamiento crítico, mientras mejora su comprensión lectora  
                    </p>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <img src="static/img/barras.png" alt=""  class="fotosex width45">
                    <h1 class="titulosex">Inteligencia Artificial</h1>
                    <p class="textoex">
                    Con el metodo de inteligencia artificial su hijo progresa a su propio ritmo, sin frustración, desarrollando confianza en sí mismo y una actitud positiva hacia las matemáticas
                    </p>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <img src="static/img/reloj.png" alt=""  class="fotosex" id="reloj">
                    <h1 class="titulosex">15 Minutos</h1>
                    <p class="textoex">
                        15 minutos al dia, basta con una sesión al dia con máxima concentración. Sin desplazamientos ni horarios. Desde el PC o tableta.
                    </p>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <img src="static/img/gorro.png" alt=""  class="fotosom" id="gorro">
                    <h1 class="titulosex">Más rápido que en el colegio</h1>
                    <p class="textoex">
                        No va en paralelo al plan de estudios oficial. Prepara a su hijo para avanzar más rápido que en el colegio
                    </p>
                </div>
            </div>
        <!-- Contenido -->
    </div>   
</body>
</html>