<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MateMarket | Inicio</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/flexboxgrid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
</head>
<body>
    <div class="barrainicio col-lg-12">
    <div class="col-lg-4 titulopag">
            MateMarket
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
    </div>

</body>
</html>