<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mateskoo | Tercero Básico</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/flexboxgrid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="JS/jquery-3.4.1.min.js"></script>
</head>
<body>
    <!-- Titulo/Logo -->
    <div class="fondo">
        <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-xs-12 col-lg-4" id="titulopag">
            <img src="static/img/0inicio/planeta.png" alt="" id="planeta"> 
            Mateskool
        </div>
        <div class="col-lg-4"></div>
        </div>
    </div>
    <!-- Titulo/Logo -->
    <!-- Inicio -->
    <div class="row" id="inicio">
        <!-- Menu -->
        <div class="col-xs-12 col-lg-12">
            <aside id="aside"> 
                <div class="row">
                        <div class="col-xs-12 col-lg-2"><a href="Inicio.html"><img  src="static/img/0inicio/inicio.png" alt="" class="fotosex width25"></a></div>
                </div>
            </aside>     
        </div>
        <!-- Menu -->
        <!-- Contenido -->
        <div class="col-xs-12 col-lg-12 ">
            <div>
                <h1 class="tituloin">
                    ¡Numeros pares e impares!
                </h1>
                <p class="textonorm">
                    Los numeros se pueden clasificar en 2 grandes grupos, los numeros pares e impares.Los numeros pares son todos los numeros que se puedan dividir entre 2. Y los impares es todo lo contrario que los numeros pares, estos no se pueden dividir entre 2.
                </p>
                <div class="row">
                    <div class="col-xs-12 col-lg-2 "></div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                        <img src="static/img/2Parimpar/impares.jpg" alt="" class="fotocen width80">
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                        <img src="static/img/2Parimpar/pares.jpg" alt="" class="fotocen width80">
                    </div>
                </div> 
            </div>
        </div>
        <!-- Contenido -->
        </div>
    <!-- Inicio -->
    <!-- Informacion Extra -->
        <div class="fondo">
            <div class="row">
                <div class="col-xs-12 col-lg-3">
                    <img src="static/img/cerebro.png" alt="" class="fotosex width50">
                    <h1 class="titulosex">Logica y Razonamiento</h1>
                    <p class="textoex">
                    Es Mucho más que calculo mental. El alumno desarrolla habilidades para resolver problemas y pensamiento crítico, mientras mejora su comprensión lectora  
                    </p>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <img src="static/img/barras.png" alt="" class="fotosex width45">
                    <h1 class="titulosex">Inteligencia Artificial</h1>
                    <p class="textoex">
                    Con el metodo de inteligencia artificial su hijo progresa a su propio ritmo, sin frustración, desarrollando confianza en sí mismo y una actitud positiva hacia las matemáticas
                    </p>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <img src="static/img/reloj.png" alt="" class="fotosex" id="reloj">
                    <h1 class="titulosex">15 Minutos</h1>
                    <p class="textoex">
                        15 minutos al dia, basta con una sesión al dia con máxima concentración. Sin desplazamientos ni horarios. Desde el PC o tableta.
                    </p>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <img src="static/img/gorro.png" alt="" class="fotosom" id="gorro">
                    <h1 class="titulosex">Más rápido que en el colegio</h1>
                    <p class="textoex">
                        No va en paralelo al plan de estudios oficial. Prepara a su hijo para avanzar más rápido que en el colegio
                    </p>
                </div>
            </div>
        </div>
    <!-- Informacion Extra -->      
</body>
</html>